/* troubleshooting */
/* *{outline: 1px solid red;} */

/* font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');


body {
    display: block;
    margin: 0px;
}

h1, h2, h3 {text-align: center;
    font-family: 'Noto Serif', serif;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}

h1 {font-size: 3em;}

p {text-align: center;}

div, a {background-color: #777777;
      -webkit-transition-property: background-color; /* Safari */
      -webkit-transition-duration: 1s; /* Safari */
      transition-property: background-color;
      transition-duration: 1s;
}

span {display: inline-block;}

/* nav */
nav a{background-color: #6D7993;
      display: inline;}
ul {background-color: #6D7993;
    list-style-type: none;
    text-align: center;}
li {float: left;}
li a {display: block;
      padding: 10px;
      margin-top: 20px;
    background-color: #6D7993;
    font-size: 1.25em;}

header {
  position: relative;
  width: 1000px;
  height: 75px;
  left:150px;
  padding: 0px;
  margin: 0px;
  background-color: #6D7993;
}


/* index.html */

.container {
  position: absolute;
  width: 1000px;
  height: 625px;
  left: 150px;
}

.square {
  width: 600px;
  height: 600px;
  position:absolute;
  top: 0px;
  left: 200px;
}

.number1 {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.about {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 200px;
  left: 0px;
}

.number3 {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 400px;
  left: 0px;
}
.poems {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 0px;
  left: 800px;
}

.number2 {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 200px;
  left: 800px;
}

.cats {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 400px;
  left: 800px;
}

footer p {
        width: 1000px;
        height: 25px;
        position: absolute;
        top: 600px;
        left: 125px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        margin-top: 0px;
      }

a {
  background-color: #777777;
}

a:link, a:visited {text-decoration: none;
    display: block;
    color: #D5D5D5;}

div:hover, a:hover {
  background-color: lightgray;
}

a:hover {color: #6D7993;}

/* css for the poem pages */

.poem p{
	margin: auto;
	padding: 20px 0px 0px 110px;
	text-align: left;
	width: 390px;
	}

/* Black Cat */
  .blackcat {
    z-index: 10;
    display: block;
    width: 126px;
    height: 108px;
    position:absolute;
    top: 470px;
    left: 420px;
    background-image: url("/images/black-cat.jpg");
    animation: play 2s steps(10) infinite;
  }

@keyframes play {
    100% { background-position: -1260px; }
}

/* dickenson */

.emily {line-height: 1.5em;}

.bird, .balls, .jaws, .hopes, .toes {font-weight: bold;}

.bird {position: relative;
      top: 0px;
      left:0px;
    -webkit-transition: top 5s; /* For Safari 3.1 to 6.0 */
    transition: top 5s;
     -webkit-transition: left 3s; /* For Safari 3.1 to 6.0 */
    transition: left 3s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.balls {
        width: auto;
        height: auto;
        }

.hopes {position: relative;
        top: 0px;
        -webkit-transition: top 6s linear 1s; /* For Safari 3.1 to 6.0 */
        transition: top 6s linear 1s;
          }


.bird:hover {top: -15px;
            left: 15px;}

.balls:hover::after {
            content: url("../images/black-ball-small.png");
            display: inline;
            position: relative;
            top: 20px;
            left: -40px;
                    }

.jaws:hover {-ms-transform: skewY(-40deg); /* IE 9 */
    -webkit-transform: skewY(-40deg); /* Safari */
    transform: skewY(-40deg); /* Standard syntax */
}

.hopes:hover {top: -30px;}


.toes:hover {
              -webkit-animation: toesmove 5s infinite; /* Safari 4.0 - 8.0 */
             animation: toesmove 5s infinite;
             }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes toesmove {
                 50% {font-size: 2em;
                      letter-spacing: 4px;}
             }
@keyframes toesmove {
                 50% {font-size: 2em;
                   letter-spacing: 4px;}
             }
